<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="{{asset 'css/bootstrap.min.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/style.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/colors-dark.css'}}" rel="stylesheet" />

  {{ghost_head}}

</head>

<body class="{{body_class}}">

  {{#if @blog.cover}}
    <div id="coverimg" style="background-image: url({{@blog.cover}})"></div>
  {{/if}}

  <header id="header">
      <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
  </header>

  <div id="page">

    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="{{@blog.url}}">Home</a></li>
          <li><a href="http://twitter.com/mutexkid">Twitter</a></li>
          <li><a href="http://github.com/mutexkid">Github</a></li>
          <li><a href="http://www.linkedin.com/in/joshmskeen">LinkedIn</a></li>
          <li><a href="{{@blog.url}}/about-me">About Me</a></li>
        </ul>
      </nav>

        <div class="bio">
          <img class="avatar" src="assets/images/me.jpg" />
          <h3>Josh Skeen</h3>
          <p>Hello! I'm an Android Engineer &amp; Instructor at <br/><a href="http://bignerdranch.com">Big Nerd Ranch</a>. I'm also an <a href="http://soundcloud.com/mutexkid">aspiring electronic musician</a>, coffee snob, and yoga enthusiast.</p> <br/> <a href="mailto:josh@joshskeen.com">Get in touch!</a>
        </div>

    </div>

    <div id="content">
      {{{body}}}
    </div>

  </div>

  <footer id="footer">
    <p class="copyright">Copyright &copy; {{date format='YYYY'}} {{@blog.title}}. Powered by <a href="http://ghost.org">Ghost</a>. <a href="{{@blog.url}}/rss/">RSS Feed</a>
  </footer>

  {{ghost_foot}}

  <script src="{{asset 'js/jquery.mobilemenu.min.js'}}"></script>
  <script src="{{asset 'js/prism.js'}}"></script>
  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>

</body>
</html>